header{
    width:100%;
    float: left;
    font-family: sans-serif;
    text-align: center;
    /*background-color: #8E9CB2;*/
}

nav{
    width:20%;
    float: left;
    /*background-color: #D8DBE2;*/
}

main{
    width:60%;
    float: left;
    text-align: center;
    font-size: large;
    /*background-color: #deff76;*/
}

footer{
    width:100%;
    float: left;
    font-size: small;
    font-weight:bold;
    text-align: center;
    margin-top: 1em;
    /*background-color: whitesmoke;*/
}

main p{
    margin-top: 30px;
    text-indent: 25px;
}

main img{
    width: 500px;
    display: block;
    margin:0 auto;
}

.dice img{
    width:150px;
    height:150px;
    display: inline-block;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
    width:200px;
    /*background-color: #F1F1F1;*/
    border:1px solid #555;
}

li{
    text-align: center;
    border-bottom: 1px solid #555;
}

li a{
    display: block;
    color: #000;
    padding: 8px 0 8px 0px;
    text-decoration: none;

}

li a:hover{
    background-color: #000;
    color: #F1F1F1;
}

li:last-child{
    border-bottom: none;
}

.error{
    color: red;

}